# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
db.sqlite3
media/

# If you use .env for secrets
.env

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode project settings
.vscode/

# PyCharm project settings
.idea/

# Static files (ako koristiš collectstatic – generirat će se u /staticfiles/)
staticfiles/

# Migrations cache (ali ne i same migracije!)
*.pot
*.pyc
*.pyo

# Coverage / test output
.coverage
coverage/
htmlcov/
*.cover

# MyPy / Pytest / Django Debug toolbar, itd.
.mypy_cache/
.pytest_cache/
debug.log
